/*Kyle Salstrom - 2015*/
/*kylesalstrom@gmail.com*/

body {
	background-color: black;
}
video {
	margin-left: 	auto;
	margin-right: 	auto;
	display: 	block;
	height:		60vh;
	padding-top:	5vh;
	padding-bottom:	1vh;
}
div{
	text-align:	center;
	margin-left: 	auto;
	margin-right: 	auto;
}
img.bigImg{
	height:		18vh;
	padding-top: 3vh;
	padding-left: 	2vh;
	padding-right: 	2vh;
}
img.medImg{
	height:		6vh;
}
img.smlImg{
	height:		3vh;
	margin-left: 	-3px;
	margin-right: 	-3px;
}
img.tnyImg{
	height:		2vh;
}
ul.share-buttons{
	list-style: 	none;
	padding: 	0;
}
ul.share-buttons li{
	display: 	inline;
}
@media (max-width: 600px) {
	video {
		width:			99%;
		padding-top:	1px;
	}
	img.bigImg{
		height:			30px;
		padding-left: 	1px;
		padding-right: 	1px;
	}
	img.medImg{
		height:			20px;
	}
	img.smlImg{
		height:			20px;
	}
	img.tnyImg{
		height:			10px;
	}
	img.smlTD{
		padding:		0px;
	}
}